In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [5]:
#CSV file paths
MouseData_csv = "/users/rebeccatast/desktop/Pymaceuticals-Inc./Resources/MouseData.csv"
StudyResults_csv = "/users/rebeccatast/desktop/Pymaceuticals-Inc./Resources/StudyResults.csv"

In [6]:
#Read Files
MouseData = pd.read_csv(MouseData_csv)
StudyResults = pd.read_csv(StudyResults_csv)

In [7]:
#Print first lines of Mouse Dataset
MouseData.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [8]:
#Print first lines of Study Results Dataset
StudyResults.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [42]:
#Merge datasets and print total number of rows
complete_data_df= pd.merge(MouseData, StudyResults,on = "Mouse ID", how = "left")
print(len(complete_data_df))
complete_data_df.head()
#Total Number of Mice
total_mice = len(complete_data_df["Mouse ID"].unique())
print(total_mice)

1893
249

In [43]:
#Scrub Data to Remove Duplicate Mice and Timeframes
cleaned_complete_data_df = complete_data_df.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep ="last")
print(len(cleaned_complete_data_df))
#Total Number of Mice
total_mice_clean = len(cleaned_complete_data_df["Mouse ID"].unique())
print(total_mice_clean)

1888
249

In [56]:
#Summary Data for Drug Regimen - mean, median, mode, variance, standard deviation, standard error of the mean
summarydata = cleaned_complete_data_df[["Drug Regimen", "Tumor Volume (mm3)"]]
groupbydata = summarydata.groupby(["Drug Regimen"])
                                
summaryData = pd.DataFrame({"Mean": groupbydata["Tumor Volume (mm3)"].mean().map("{:.2f}".format),
                             "Median":groupbydata["Tumor Volume (mm3)"].median().map("{:.2f}".format),
                             "Mode":groupbydata["Tumor Volume (mm3)"].agg(pd.Series.mode),
                             "Variance":groupbydata["Tumor Volume (mm3)"].var().map("{:.2f}".format),
                             "Standard Deviation":groupbydata["Tumor Volume (mm3)"].std().map("{:.2f}".format), 
                             "SEM": groupbydata["Tumor Volume (mm3)"].sem().map("{:.2f}".format)})
summaryData

               Mean Median  Mode Variance Standard Deviation   SEM
Drug Regimen
Capomulin     40.68  41.56  45.0    24.95               4.99  0.33
Ceftamin      52.59  51.78  45.0    39.29               6.27  0.47
Infubinol     52.88  51.82  45.0    43.13               6.57  0.49
Ketapril      55.24  53.70  45.0    68.55               8.28  0.60
Naftisol      54.33  52.51  45.0    66.17               8.13  0.60
Placebo       54.03  52.29  45.0    61.17               7.82  0.58
Propriva      52.38  50.78  45.0    43.22               6.57  0.53
Ramicane      40.22  40.67  45.0    23.49               4.85  0.32
Stelasyn      54.23  52.43  45.0    59.45               7.71  0.57
Zoniferol     53.24  51.82  45.0    48.53               6.97  0.52