In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [5]:
#CSV file paths
MouseData_csv = "/users/rebeccatast/desktop/Pymaceuticals-Inc./Resources/MouseData.csv"
StudyResults_csv = "/users/rebeccatast/desktop/Pymaceuticals-Inc./Resources/StudyResults.csv"

In [6]:
#Read Files
MouseData = pd.read_csv(MouseData_csv)
StudyResults = pd.read_csv(StudyResults_csv)

In [7]:
#Print first lines of Mouse Dataset
MouseData.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [8]:
#Print first lines of Study Results Dataset
StudyResults.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [34]:
#Merge datasets and print
complete_data_df= pd.merge(MouseData, StudyResults,on = "Mouse ID", how = "left")
print(len(complete_data_df))
complete_data_df.head()

1893

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [41]:
#Scrub Data to Remove Duplicate Mice and Timeframes
cleaned_complete_data_df = complete_data_df.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep ="last")
print(len(cleaned_complete_data_df))

1888